@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Signika&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.inkut-font {
  font-family: "Yatra One", serif;
}

body {
  font-family: "Signika", sans-serif;
}

.banner {
  width: 100%;
  height: auto;
  object-fit: cover;
}
